.grid-container {
   display: grid;
   grid-template-columns: 0.2fr 1.8fr 1.8fr 0.2fr;
   grid-template-rows: 0.2fr 1.8fr 1fr;
   gap: 0px 0px;
   grid-template-areas:
     "Navbar Navbar Navbar Navbar"
     "curtain pannellum pannellum curtain2"
     "curtain pannellum pannellum curtain2";
 }
 .Navbar { 
    grid-area: Navbar; 
   }
 .pannellum { 
    grid-area: pannellum; 
   }
 .curtain { 
    grid-area: curtain; 
   }
 .curtain2 { 
    grid-area: curtain2; 
   }

#panorama {
    width: 1200px;
    height: 800px;
    margin: auto;
    /*margin-top: 10%; removed to minimize frame*/ 
}

body{
    background-color: black;
    overflow-y: scroll;
    -ms-overflow-style:none;
    scrollbar-width:none;
    font-family: 'PT Sans', sans-serif;
}

body::-webkit-scrollbar{
   display:none
 }

.modal {
   display: none; 
   position: fixed; 
   z-index: 1; 
   left: 0;
   top: 0;
   width: 100%;
   height: 100%; 
   overflow: auto; 
   background-color: rgb(0,0,0); 
   background-color: rgba(0,0,0,0.5); 
   -ms-overflow-style:none;
   scrollbar-width:none;
}

.modal::-webkit-scrollbar{
   display: none;
}

.modal-content {
   margin: auto; 
   width: 100%;
   height: 100%;
   margin-left: auto;
   position: relative;
   padding: 20px;
   -ms-overflow-style:none;
   scrollbar-width:none;
}

.modal-content::-webkit-scrollbar{
   display:none;
}
    
/* The Close Button */
.close, .close1, .close2, .close3, .close4, .close5, .close6, .close7, .close8, .close9, .close10 {
color: #ed1b2f;
float: left;
font-size: 80px;
font-weight: bold;
Margin-left:50px;
}

.close:hover,
.close:focus,
.close1:hover,
.close1:focus, 
.close2:hover,
.close2:focus,
.close3:hover,
.close3:focus,
.close4:hover,
.close4:focus,
.close5:hover,
.close5:focus,
.close6:hover,
.close6:focus,
.close7:focus,
.close7:hover,
.close8:focus,
.close8:hover,
.close9:focus,
.close9:hover
.close10:focus,
.close10:hover,
{
color: #aaa;
text-decoration: none;
cursor: pointer;
}


.magnifyFrame{
    width: 100%;
    height: 1000px;
    overflow-y: scroll;
    -ms-overflow-style:none;
    scrollbar-width:none;
    border-radius: 8px;
}

.magnifyFrame::-webkit-scrollbar{
   display: none;
}

.hotspot{
    height: 200px;
   width: 250px;
   background: #f00;
   background-image:url("images/caticon.png");
}
.welcomeHotspot{
    height: 200px;
   width: 200px;
   background-image:url("images/martlet_sphere_200px.png");
}

.directionArrow{
   height: 75px;
   width: 75px;
   background-image:url("images/noun_up_75px.png");
}

.infoHotspot{
   height: 75px;
   width: 75px;
   background-image:url("images/noun_question mark_75PX.png");
}

.hotspotPuzzleImage{
   height: 208px;
   width: 150px;
   background-image:url("images/card_locked.png");
}
.easterEgg1{
  height: 190px;
  width: 140px;
   background-image:url("images/PR023025.jpg");

}

/* keyframes */
@-webkit-keyframes zoomIn{
   from { -webkit-transform:scale(0)}
   to {-webkit-transform:scale(1)}
}

@keyframes zoom{
   from{transform:scale(0)}
   to{transform:scale(1)}
}